body{
    width: 80%;
    margin: 0 auto;
    color: #b72323;
    padding: 20px;
    background-color: gray;
    font-family: Arial, sans-serif;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: #5f14e0;
}